@font-face {
    font-family: Tillium;
    src: url("../../resources/fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: Title1Font;
    src: url("../../resources/fonts/Merriweather-Light.ttf");
}

@font-face {
    font-family: Title2Font;
    src: url("../../resources/fonts/Merriweather-Light.ttf");
}

.col {
    padding: 5px;
}

.ro {
    display: flex;
    justify-content: auto;
}

.cen {
    text-align: center;
    margin-top: 15px;
}

.headerType1 {
    font-size: 40px;
    font-family: Title1Font;
    color: #E60613;
}

.headerType2 {
    font-size: 35px;
    font-family: Title2Font;
    color: #E60613;
}

.headerType3 {
    font-size: 30px;
    font-family: Title2Font;
    color: #E60613;
}

.mainTitle {
    text-align: center;
}

.subTitle {
    margin-left: 10px;
}

.description {
    font-size: 20px;
    font-family: Tillium;
    padding: 20px;
    text-align: justify;
}