.images-container{
    flex: auto;
    display: flex;
    align-items: center;
    // align-items: center;
    justify-content: center;
    vertical-align: auto;
}

.image{
    display: inline-block;
    vertical-align: middle;
}