.container-left {
    height: 90%;
    width: 20%;
    height: 100%;
    position: fixed;
    z-index: 1;

    overflow-x: hidden;
    left: 0;
    background-color: #F7F7F7;
    /* background-color: #F7F7F7; */
    /* padding-top: 20px; */
}

.split-right {
    height: 100%;
    width: 80%;
    margin-left: 20%;
    position: relative;
    z-index: 0;
    /* top: 0; */
    /* overflow-x: hidden; */
    padding-top: 20px;
    /* right: 0; */
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #split-right { width:67%; }
    #container-left { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #split-right { width:100%; }
    #container-left { width:100%; margin:0; border:none; }
}