.split-left {
    margin-top: 100px; /*changed here*/
    height: 90%;
    /* width: 20%; */
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    left: 0;
    margin-left: 10px;
    /* background-color: #F7F7F7; */
    /* padding-top: 20px; */
}

.split-right {
    height: 100%;
    width: 80%;
    position: relative;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0;
    /* background-color: red; */
}